*{
    margin: 0;
    padding: 0;
}
header, footer{
    text-align: center;
    background: gold;
}

section{
    height: 100vh;
    border: 5px solid black;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}