*{
    margin: 0;
    padding: 0;
}
header, footer{
    text-align: center;
    background: gold;
}

section{
    min-height: 100vh;
    border: 1px solid black;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
 .mt-50{
     margin-top: 17px;
 }

 .section-1-title h2,
 .section-2-title h2,
 .section-3-title h2{
     text-align: center;
     padding: 10px 5px;
     border-bottom: 1px solid silver;
 }

.img img{
    display: inline-block;
    width: 300px;
    height: 300px;
}

.section-1-body,
.section-2-body,
.section-3-body{
    display: flex;
    flex-flow: row;
}
.description,
.img{
    padding: 5px;
}

.blok-1{
    max-width: 46%;
    padding: 20px 2%;
}

.list-description{
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
}

.list{
    padding-left: 20px;
}

.block-description p{
    display: block;
    margin-bottom:15px;
    padding: 5px;
}

.blok-title h2{
    margin-bottom:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}